.DS_Store
.idea/
.keep
Godeps/_workspace
.GOPATH
.vscode
.node_modules
#vendor
coverage.txt
c.out
coverage.html
*.pem
.env
.vagrant
horus
dockers.env
horus-client
.scannerwork/
sonar-project.properties
